argon2-cffi
asgiref
certifi
cffi
chardet
defusedxml
Django
django-allauth
django-crispy-forms
django-debug-toolbar
django-environ
django-model-utils
django-redis
djangorestframework
idna
oauthlib
pycparser
python-decouple
python-slugify
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
text-unidecode
urllib3
